body {
  background-color: #f2efb6;
}

h1 {
  color: #074684;
  font-style: italic;

}

h2 {
  color: #074684;
}

h3 {
  color: #074684;
}

p {
  color: #0ea5c6;
}
li{
  color: #0ea5c6
}

hr {
  border-color: #a0edf7;

}

img {
  height: 100px;
}
