body {
  background-color: #222831;
}

h1 {
  color: #66BFBF
}

h2 {
  color: #66BFBF
}

h3 {
  color: #66BFBF
}

p {
  color: #b55400
}

hr {
  border-color: #b55400;

  

}

img {
  height: 100px;
}
